#ccSnowFlake {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 99999;
    overflow: hidden;
}

#ccSnowFlake .snowflake {
    position: absolute;
    top: -10px;
    user-select: none;
    pointer-events: none;
    will-change: transform;
}